.display {
    background-color: black;
    color: #fff;
    font-size: 30px;
    padding: 0.5em 0.75em;
    text-align: right;
    height: 50px;

}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    
    
}
button {
    border: #fff;
    font-size: large;
  }
.calculator {
  border-radius: 10px;
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  max-width: 15em;
  overflow: hidden;
}
.keys {
    background-color: honeydew;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(4, 1fr);
    height: 300px;
}
.keys > * {
    background-color: #fff;
    padding: 0.5em 1.25em;
    position: relative;
    text-align: center;
  }
  .key-operator{
      background-color: azure;
  }

  .key-equal {
    background-image: linear-gradient(to bottom, #fe886a, #fe7451);
    grid-column: -2;
    grid-row: 2 / span 4;
  }


     